* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;

    width:  80%;
}

.header{
    background-color: #eee;
    height: 50px;
    text-align: center;
}

.main{

}

.push{
    height: 4em;
    clear: both;
}
.footer {
    height: 4em;
    clear: both;
    background-color: #eee;
    text-align: center;
    width:  80%;
    margin: auto;

}